body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  font-family: monospace;
  height: 100%;
}

a:link{
  color: #b4b4de;
  font-weight: bold;
  text-decoration: none;
}

a:visited{
  color: #4662ff;
  font-weight: bold;
  text-decoration: none;
}

.outer-content-holder{
  background: #272e49;
  color: white;
  display: block;
  position: absolute;
  margin: 0 10%;
  width: 80%;
  height: 100%;
  box-shadow: 0 0 35px 4px grey;
}

.inner-content-holder{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  align-items: flex-start;
}

.main-header-wrapper{
  width: 100%;
}

.main-header-wrapper .main-header{
  max-width: 600px;
  margin: 30px auto;
  text-align: center;
}

.books-table{
  position: relative;
  margin: 0 auto;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 12px;
}


.books-table-title{
  height: 35px;
  border-bottom: transparent;
  background-color: rgb(44 89 140);
  font-size: 15px;
}

.book-table-row{
  height: 40px;
}

.book-table-cell{
  padding: 0 10px;
  border-top: 1px solid grey;
}

.column-header{
  padding: 0 15px;
}

.book-title{
  color: #8888ff;
  font-weight: bold;
}

.return-button{
  display: inline-block;
  margin-top: 15px;
  color: #ffffff !important;
  background-color: #3033ff;
  border-radius: 26px;
  padding: 10px;
}

@media screen and (max-width:1000px){
  html, body {
    background-color: #272e49;
  }

  .outer-content-holder{
    width: 100%;
    margin: 0;
    height: auto;
    box-shadow: none;
  }


  .book-table-cell{
    width: 25%;
    overflow-wrap: anywhere;
  }

  .book-publisher{
    display:none
  }

  .book-price{
    text-align:center
  }

  .page-description{
    margin: 3% 3%;
  }

  h4 , h2{
    margin: 3% 3%;
  }

  .no-results-view, .return-button{
    margin: 10% 3%;
  }

  .review-index{
    display: none;
  }

  .publication-date{
    text-align: center;
  }
}


