body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  font-family: monospace;
}

a:link{
  color: #8888ff;
  font-weight: bold;
  text-decoration: none;
}

a:visited{
  color: #b4b4de;
  font-weight: bold;
  text-decoration: none;
}

.outer-content-holder{
  background: #272e49;
  color: white;
  display: block;
  position: absolute;
  margin: 0 10%;
  width: 80%;
  height: 100%;
  box-shadow: 0 0 35px 4px grey;
}

.main-header-wrapper .main-header{
  margin: 30px auto;
  text-align: center;
}

.books-table{
  position: relative;
  margin: 0 auto;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 12px;
}

.books-table .column-header{
  /* border: 1px solid grey;
  border-bottom: transparent;
  background-color: rgb(228, 236, 245); */
}

.books-table-title{
  height: 35px;
  border-bottom: transparent;
  background-color: rgb(44 89 140);
  font-size: 15px;
}

.book-table-row{
  height: 40px;
}

.book-table-cell{
  padding: 0 10px;
  border-top: 1px solid grey;
}

.column-header{
  padding: 0 15px;
}

.book-title{
  color: #8888ff;
  font-weight: bold;
}



.book-price{
  /* width: 10%; */
}

